**LIstas** y algunas funciones

In [1]:
lista_compras = ["manzanas", "pan", "leche", "huevos"]
lista_compras.append("queso")  # Añadir elemento
lista_compras.pop(1)          # Eliminar "pan"
print("Lista actualizada:", lista_compras)

Lista actualizada: ['manzanas', 'leche', 'huevos', 'queso']

In [2]:
notas = [4.5, 3.8, 5.0, 2.7]
notas.sort()  # Ordenar ascendentemente
print("Notas ordenadas:", notas)

Notas ordenadas: [2.7, 3.8, 4.5, 5.0]

**Tuplas**

In [3]:
ubicacion = (40.7128, -74.0060)  # Nueva York
latitud, longitud = ubicacion    # Desempaquetado
print(f"Latitud: {latitud}, Longitud: {longitud}")

Latitud: 40.7128, Longitud: -74.006

In [4]:
fechas_importantes = ("1789-07-14", "1917-11-07", "1969-07-20")
print("Primer evento:", fechas_importantes[0])

Primer evento: 1789-07-14

**Conjuntos** y operaciones entre ellos

In [8]:
frutas = {"manzana", "banana", "naranja"}
citricos = {"naranja", "limón", "lima"}

print("Unión:", frutas | citricos)
print("Intersección:", frutas & citricos)
print("Diferencia:", frutas - citricos)

Unión: {'manzana', 'naranja', 'banana', 'lima', 'limón'}
Intersección: {'naranja'}
Diferencia: {'manzana', 'banana'}

In [10]:
numeros_repetidos = [1, 2, 2, 3, 4, 4, 4]
unicos = set(numeros_repetidos)
print("Números únicos:", unicos)

Números únicos: {1, 2, 3, 4}

**Diccionarios**

In [21]:
inventario = {
    "manzanas": 50,
    "bananas": 30,
    "naranjas": 45
}
inventario["bananas"] += 10  # Actualizar stock
print("Stock de bananas:", inventario["bananas"])
print("Inventario completo:", inventario)

Stock de bananas: 40
Inventario completo: {'manzanas': 50, 'bananas': 40, 'naranjas': 45}

In [13]:
estudiante = {
    "nombre": "Wilson Guerrero",
    "edad": 28,
    "carrera": "Ingeniería",
    "materias": ["Cálculo", "Programación", "Física"]
}
print(f"{estudiante['nombre']} estudia {estudiante['materias'][1]}")

Wilson Guerrero estudia Programación

Convertir un **Diccionario en DataFrame**

In [20]:
import pandas as pd

diccionario = {
    'Producto': ['Laptop', 'Mouse', 'Teclado'],
    'Precio': [1200, 25, 75],
    'Stock': [10, 50, 30]
}

df = pd.DataFrame(diccionario)
print(df)

  Producto  Precio  Stock
0   Laptop    1200     10
1    Mouse      25     50
2  Teclado      75     30

Recorrer estructuras con ciclo for

In [23]:
import pandas as pd

df = pd.DataFrame({
    "Nombre": ["Ana", "Juan"],
    "Edad": [25, 30]
})

# Recorrer filas (como diccionarios):
for indice, fila in df.iterrows():
    print(f"Fila {indice}: {fila['Nombre']} tiene {fila['Edad']} años")

# Recorrer columnas:
for columna in df.columns:
    print(f"Columna: {columna}")
    print(df[columna].values)

Fila 0: Ana tiene 25 años
Fila 1: Juan tiene 30 años
Columna: Nombre
['Ana' 'Juan']
Columna: Edad
[25 30]

In [24]:
estudiantes = [
    {"nombre": "Ana", "notas": [4.5, 3.8]},
    {"nombre": "Juan", "notas": [5.0, 4.2]}
]

for estudiante in estudiantes:
    print(f"\n{estudiante['nombre']}:")
    for nota in estudiante["notas"]:
        print(f"  - Nota: {nota}")

Ana:
  - Nota: 4.5
  - Nota: 3.8

Juan:
  - Nota: 5.0
  - Nota: 4.2